@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-gray: #999999;
  --color-bg-dark-1: #141414;
  --color-bg-dark: #1a1a1a;
  --color-bg-gray-1: #262626;
  --color-primary: #703bf7;
  --color-primary-light: #a685fa;
  --color-border: #4d4d4d;
}

/* Dark mode (default) */
:root {
  --bg-main: #141414;
  --bg-secondary: #1a1a1a;
  --text-main: #ffffff;
  --color-border: #4d4d4d;
}

/* Light mode */
:root.light {
  --bg-main: #ffffff;
  --bg-secondary: #f5f5f5;
  --text-main: #141414;
  --color-border: #d1d1d1;
}

body {
  font-family: "Urbanist", sans-serif;
  
}
.card{
  @apply p-6 lg:p-8 xl:p-10 bg-gray-50 border-gray border rounded-xl ;
}
.card-title{
  @apply text-bg-dark font-semibold xl:text-2xl
}